<!DOCTYPE html>
<html>
<head>
	<title>Temperature and Humidity</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/main/bootstrap.css"></link>
	<script src="/static/main/jquery.min.js"></script>
	<script src="/static/main/main.js"></script>
</head>
<body>

{% include "navigation.html" %}

<div class="container-fluid" style="margin-bottom: 15px;">
	<div class="form-inline">
		<label for="beginDate">From: </label>
		<input class="form-control" name="beginDate" type="date" id="beginDate" onchange="refresh();"></input>
		<label for="endDate">To: </label>
		<input class="form-control" name="endDate"   type="date" id="endDate"   onchange="refresh();"></input>
		<label for="sensorSelect">Sensor: </label>
		<select class="form-control" id="sensorSelect" onChange="list();">
			<option value="">Any</option>
		</select>
	</div>
</div>

<div class="container-fluid">
	<table class="table table-bordered table-stripped table-hover table-responsive">
		<thead>
		<tr>
			<th>Date</th>
			<th>Time</th>
			<th>Sensor</th>
			<th>Temperature</th>
			<th>Humidity</th>
		</tr>
		</thead>
	
		<tbody id=dataTable>
		</tbody>
	</table>
</div>

</body>
</html>
